<%= markdown(message.content) %>
<%= message.created_at %>
<br/>
<div class="media">
  <% if message.user&.avatar.present? %>
    <%= image_tag message.user&.avatar.thumb.url, class: 'profile-image' %>
  <% else %>
    <%= image_tag 'default-profile-picture-50x50.png', class: 'profile-image' %>
  <% end %>
  <div class="media-body">
    <h5 class="mt-0">
      &nbsp;
      <% if message.user&.first_name? %>
        <%= message.user.full_name %>
      <% else %>
        Anonymous
      <% end %>
      : <%= message.created_at %>
    </h5>
    &nbsp;&nbsp;&nbsp;<%= markdown(message.content) %>  
  </div>
</div>
