<br/>
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <% if @course_latest.photo.present? %>
        <%= link_to image_tag(@course_latest.photo.header.url), course_path(@course_latest), class: 'd-block w-100 h-450' %>    
      <% else %>
        <%= image_tag 'default-course-photo-1110x624.38'%>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if @course_second_latest.photo.present? %>
        <%= link_to image_tag(@course_second_latest.photo.header.url), course_path(@course_second_latest), class: 'd-block w-100 h-450' %>    
      <% else %>
        <%= image_tag 'default-course-photo-1110x624.38'%>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if @course_third_latest.photo.present? %>
        <%= link_to image_tag(@course_third_latest.photo.header.url), course_path(@course_third_latest), class: 'd-block w-100 h-450' %>    
      <% else %>
        <%= image_tag 'default-course-photo-1110x624.38'%>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
