<%= simple_form_for @course do |f| %>
  <% if @course.photo? %>
    <%= image_tag @course.photo_header.url, class: 'center' %>
  <% else %>
    <%= image_tag 'default-course-photo-1110x624.38.jpg', class: 'center' %>
  <% end %>  
  <br/>
  <%= f.file_field :photo_header, placeholder: "Upload course photo header" %>
  <i>Please upload a 1110 x 624.38 pixels photo</i>
  <br/>
  <br/>

  <%= f.input :category_id, label: 'Category', collection: Category.all %>
  <br/>
  <%= f.input :name, label: 'Name', class: 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-default' %>
  <br/>
  <%= f.input :description, label: 'Description', class: 'form-control', 'aria-label': 'decription' %>
  <br/>

  <h3><%= f.label :upload_course_photo %></h3><br />

  <% if @course.photo? %>
    <%= image_tag @course.photo.thumb.url, class: 'profile-image' %>
  <% else %>
    <%= image_tag 'default-course-photo-50x50.jpg', class: 'profile-image' %>
  <% end %>

  <%= f.file_field :photo, placeholder: "Upload course photo thumbnail" %>
  <i>Please upload a 50 x 50 pixels photo</i>

  <br/>    
  <br/>
  <br/>
  <%= f.submit "Submit!", class: 'btn-lg btn-primary' %>
<% end %>
