<br/>
<br/>

<div class="booyah-box col-10 offset-1 hero-image">
  <div class="hero-text">
    <h1>Suggest New Course</h1>
    
    <br/>

    <%= simple_form_for @course do |f| %>

      Course Category: <%= f.select :category, options_for_select(Course.categories) %>

      <br/>
      <br/>

      Course Name: <%= f.input :name, label: false, class: 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-default' %>
     
      <br/>      

      Course Description: <%= f.input :description, label: false, class: 'form-control', 'aria-label': 'decription' %>

      <br/>

      <%= f.submit "Submit!", class: 'btn-lg btn-warning' %>

    <% end %>
  </div>
</div>
