<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>    

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Curriculum</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to 'Courses', courses_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">

            <%= form_tag(courses_path, method: :get, class: "form-inline") do %>
              <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2" %>
              <%= submit_tag 'Search', name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>            
          </li>          
        </ul>
        <ul class="navbar-nav justify-content-end">
            <% if user_signed_in? %>
              <li class="nav-item">
                <div class="dropdown show dropleft">
                  <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.avatar? %>
                      <%= image_tag current_user.avatar.thumb.url, class: 'profile-image' %>
                    <% else %>
                      <%= image_tag 'default-profile-picture-50x50.png', class: 'profile-image' %>
                    <% end %>
                  </a>
               
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                    <!-- Button trigger modal New Course -->
                    <%= link_to 'New Course', '', class: 'dropdown-item', 'data-toggle' => 'modal', 'data-target' => '#newCourseModal' %>


                    <div class="dropdown-divider"></div>
                    <%= link_to "My Dashboard", dashboard_index_path, class: 'dropdown-item' %>
                    <%= link_to "My Profile", edit_user_registration_path, class: 'dropdown-item' %>
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
                  </div>
                </div>
              </li>       
            <% else %>
              <li class='nav-item'>
                <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="divider-vertical"></li>
              <li class='nav-item'>
                <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Modal New Course -->
    <div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                
            <%= simple_form_for @course do |f| %>
              <% if @course.photo? %>
                <%= image_tag @course.photo_header.url, class: 'center' %>
              <% else %>
                <%= image_tag 'default-course-photo-1110x624.38.jpg', class: 'center' %>
              <% end %>  
              <br/>
              <%= f.file_field :photo_header, placeholder: "Upload course photo header" %>
              <i>Please upload a 1110 x 624.38 pixels photo</i>
              <br/>
              <br/>

              <%= f.input :category_id, label: 'Category', collection: Category.all %>
              <br/>
              <%= f.input :name, label: 'Name', class: 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-default' %>
              <br/>
              <%= f.input :description, label: 'Description', class: 'form-control', 'aria-label': 'decription' %>
              <br/>

              <h3><%= f.label :upload_course_photo %></h3><br />

              <% if @course.photo? %>
                <%= image_tag @course.photo.thumb.url, class: 'profile-image' %>
              <% else %>
                <%= image_tag 'default-course-photo-50x50.jpg', class: 'profile-image' %>
              <% end %>

              <%= f.file_field :photo, placeholder: "Upload course photo thumbnail" %>
              <i>Please upload a 50 x 50 pixels photo</i>

              <br/>    
              <br/>
              <br/>
              <%= f.submit "Submit!", class: 'btn-lg btn-primary' %>
              <br/>
              <br/>
            <% end %>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class=''>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
